<h2>Entrar a partido existente</h2>
<form method="post" action="/select-partido">
    <input type="number" name="jornada" placeholder="Jornada" required>
    <button type="submit">Entrar</button>
</form>

<hr>

<h2>Crear nuevo partido</h2>
<form method="post" action="/select-partido">
    <input type="text" name="rival" placeholder="Nombre del rival" required>
    <label>
        <input type="checkbox" name="casa"> Jugar en casa
    </label>
    <input type="text" name="jornada" placeholder="Jornada" required>
    <button type="submit">Crear nuevo partido</button>
</form>
